@model List<DoAn_LTWeb.Models.Product>
@{
    ViewBag.Title = "products";

    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
@section sbar
{
    <div class="card">
        <div class="card-header bg-dark text-light">Brands </div>
        <ul class="list-group list-group-flush">
            @foreach (var b in ViewBag.bra)
            {
                <li class="list-group-item">
                    <a style="color:black;text-decoration:none" href="/products/sbar/@b.Id">@b.Name</a>
                </li>
            }
        </ul>
    </div>
}
    @section slmua{
        <span id="cartItemCount" class="badge text-secondary border border-secondary rounded-circle">@ViewBag.SLSP</span>
    }
@{
    string IconClass = "";
    if (ViewBag.IconClass == "fa-sort-desc")
    {
        IconClass = "fa-sort-asc";
    }
    else
    {
        IconClass = "fa-sort-desc";
    }
}
<!-- Shop Product Start -->
<div class="col-lg-9 col-md-8">
    <div class="row pb-4">
        <div class="col-12 mb-3">
            <div class="d-flex align-items-center justify-content-between">
                <div class="ml-2">
                    <div class="btn-group">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="font-size: 25px" href="/Products?SortColumn=Price&IconClass=@IconClass" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Sorting</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/Products?SortColumn=Price&IconClass=@IconClass">Price</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-3 pb-5">
    <div class="row px-3">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="product-item bg-light">
                    <div class="product-img position-relative overflow-hidden">
                        <a href="/products/details/@product.Id">
                            <img class="img-fluid w-150" style="max-height: 300px;" src="~/img/@product.Image" alt="">
                        </a>
                    </div>
                    <div class="text-center py-3">
                        <a class="h6 text-decoration-none text-truncate" href="/products/details">@product.Name</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@product.Price đ</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="col-12 text-center mt-4">
    @{
        int PrevPage = ViewBag.Page - 1;
        if (PrevPage <= 0)
        {
            PrevPage = 1;
        }
        int NextPage = ViewBag.Page + 1;
        if (NextPage > ViewBag.NoOfPages)
        {
            NextPage = ViewBag.NoOfPages;
        }
    }
    <ul class="pagination justify-content-center">
        <li class="page-item ">
            <a class="page-link" href="/Products?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@PrevPage">Prev</a>
        </li>
        @for (int i = 0; i < ViewBag.NoOfPages; i++)
        {
            if (i + 1 == ViewBag.Page)
            {
                <li class="page-item active">
                    <a class="page-link" href="/Products?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(i+1)">@(i+1)</a>
                </li>
            }
            else
            {
                <li class="page-item ">
                    <a class="page-link" href="/Products?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(i+1)">@(i+1)</a>
                </li>
            }
        }
        <li class="page-item active">
            <a class="page-link" href="/Products?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@NextPage">Next</a>
        </li>
    </ul>
</div>
<!-- Shop Product End -->
